{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}

{% block title %}index{% endblock %}



{% block content %}
{{ moment.include_moment() }}
{{ moment.include_jquery() }}
<div>
    {% if current_user.is_authenticated %}
        <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>

    {{ wtf.quick_form(form) }}
    {% endif %}

</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="#">All</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="#">Followers</a></li>
        {% endif %}
    </ul>
{#    {% include '_posts.html' %}#}
</div>

    <br>
    <ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
{#            <a href="{{ url_for('.user', username=post.author.username) }}">#}
{#                <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">#}
{#            </a>#}
        </div>
        <div class="post-content">
             <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="{{ post.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                    data-delay="500">{{ moment(post.timestamp).fromNow() }}</small>
            <div class="post-author"><a href="#">{{ post.author.username }}</a></div>
            <div class="post-body">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="post-footer">
                {% if current_user == post.author %}
                <a href="#">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="#">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                <a href="#">
                    <span class="label label-default">Permalink</span>
                </a>
                <a href="#">
                    <span class="label label-primary">Comments</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{#{% if pagination %}#}
{#<div class="pagination">#}
{#    {{ macros.pagination_widget(pagination, '.index') }}#}
{#</div>#}
{#{% endif %}#}
{#{% endblock %}#}

{#{% block scripts %}#}
{#{{ super() }}#}
{#{{ pagedown.include_pagedown() }}#}
{% endblock %}