{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{#{% import "_macros.html" as macros %}#}

{% block title %}index{% endblock %}



{% block content %}
<div>
    {% if current_user.is_authenticated %}
        <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>

    {{ wtf.quick_form(form) }}
    {% endif %}

<br>

</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="#">All</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="#">Followers</a></li>
        {% endif %}
    </ul>
{#    {% include '_posts.html' %}#}
</div>


    {% for post in posts %}
{#        <div class="container">#}

        <div class="card">
        <div class="card-body">
        <div class="card-title"><a href="#">{{ post.author.username }}</a> <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="&#12288;{{ post.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                    data-delay="500">{{ moment(post.timestamp).fromNow() }}</small></div>


            <div class="card-text">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="post-footer">
                {% if current_user == post.author %}
                <a href="#">
                    <span class="label label-primary">编辑</span>
                </a>
{#                {% elif current_user.is_administrator() %}#}
{#                <a href="#">#}
{#                    <span class="label label-danger">Edit [Admin]</span>#}
{#                </a>#}
                {% endif %}
                <a href="#">
                    <span class="label label-default"></span>
                </a>
                <a href="{{ url_for('main.post',id=post.id) }}">
                    <span class="label label-primary">评论</span>
                </a>
            </div>
        </div>
        </div>
{#        </div>#}
&nbsp;
    {% endfor %}

{#{% if pagination %}#}
{#<div class="pagination">#}
{#    {{ macros.pagination_widget(pagination, '.index') }}#}
{#</div>#}
{#{% endif %}#}
{#{% endblock %}#}

{#{% block scripts %}#}
{#{{ super() }}#}
{#{{ pagedown.include_pagedown() }}#}
{% endblock %}