{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

       <div class="card">
        <div class="card-body">
        <div class="card-title">
            <img class="rounded img-fluid avatar-s profile-popover"
                                     data-href="{{ url_for('main.user', username=post.author.username) }}"
                                     src="{{ url_for('main.get_avatar', filename=post.author.avatar_s) }}">
            <a href="#">{{ post.author.username }}</a> <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="&#12288;{{ post.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                    data-delay="500">{{ moment(post.timestamp).fromNow() }}</small></div>


<div class="card-text">
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            <br>
            {% for photo in photos %}
                {% if photo.post_id == post.id %}
               <a href="{{ url_for('static', filename='photos/%s' %(photo.filename)) }}"><img  src="{{ url_for('static', filename='photos/%s' %(photo.filename_s) ) }}"></a>&nbsp;
                {% endif %}
                {% endfor %}
            {% for movie in movies %}
            {% if movie.post_id == post.id %}
                <video  width="320" height="240" controls="controls" >
                 <source src="{{ url_for('static', filename='movies/%s' %(movie.filename)) }}" type="video/mp4">
                 <source src="{{ url_for('static', filename='movies/%s' %(movie.filename)) }}" type="video/ogg">
                    Sorry, your browser doesn't support embedded videos.</video>
                {% endif %}
                {% endfor %}
            </div>
            <div class="post-footer">
                        {% if post.author_id== current_user.id %}
                <a href="{{ url_for('main.delete',id=post.id) }}">
                    <span style="float:right" class="badge badge-dark">删除</span>
                </a>
            {% endif %}
                            <a href="{{ url_for('main.post',id=post.id) }}">
                    <span style="float:right" class="badge badge-success">评论</span>
                </a>

                {% if current_user == post.author %}
                <a href="{{ url_for('main.edit',id=post.id) }}">
                    <span style="float:right" class="badge badge-primary">编辑</span>
                </a>
{#                {% elif current_user.is_administrator() %}#}
{#                <a href="#">#}
{#                    <span class="label label-danger">Edit [Admin]</span>#}
{#                </a>#}
                {% endif %}
                <a href="#">
                    <span  class="label label-default"></span>
                </a>

            </div>
        </div>
       </div>
        <br>
        {{ wtf.quick_form(form) }}
        {% for comment in comments %}
            <li class="comment">
{#        <div class="comment-thumbnail">#}
{#            <a href="{{ url_for('.user', username=comment.author.username) }}">#}
{#                <img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">#}
{#            </a>#}
{#        </div>#}
        <div class="comment-content">

        <img class="rounded img-fluid avatar-s profile-popover"
                                     data-href="{{ url_for('main.user', username=comment.author.username) }}"
                                     src="{{ url_for('main.get_avatar', filename=comment.author.avatar_s) }}">
            <a href="#">{{ post.author.username }}</a>  <small data-toggle="tooltip" data-placement="top"
                           data-timestamp="&#12288;{{ post.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}"
                    data-delay="500">{{ moment(comment.timestamp).fromNow() }}</small></div>

            <div class="comment-body">
{#                {% if comment.disabled %}#}
{#                <p><i>This comment has been disabled by a moderator.</i></p>#}
{#                {% endif %}#}
{#                {% if moderate or not comment.disabled %}#}
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
{#                {% endif %}#}
            </div>
{#            {% if moderate %}#}
{#                <br>#}
{#                {% if comment.disabled %}#}
{#                <a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>#}
{#                {% else %}#}
{#                <a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>#}
{#                {% endif %}#}
{#            {% endif %}#}


    </li>
    {% endfor %}


{% endblock %}