

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head %}
        <title>{% block title %}{% endblock %} - Life</title>
{#        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">#}
        {% block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% endblock styles %}
    {% endblock head %}

{{ moment.include_jquery() }}
{{ moment.include_moment() }}
{{ moment.locale("zh-cn") }}
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
    <div class="container">
  <a class="navbar-brand " href="{{ url_for('main.index') }}">Logo</a>
  <ul class="navbar-nav">
      {% if current_user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('auth.logout') }}">注销</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('main.user',username=current_user.username) }}">个人中心</a>
    </li>
      {% else %}
       <li class="nav-item">
      <a class="nav-link" href="{{ url_for('auth.login') }}">登录</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('auth.register') }}">注册</a>
    </li>
      {% endif %}
  </ul>
        </div>
</nav>


<div class="container">
<div>
    <h1>1</h1>
</div>
{% block content %}


{% endblock %}

{% block script %}
</div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{{ moment.include_moment(local_js=url_for('static', filename='js/moment.js')) }}

{% endblock %}
</body>
</html>